p {
  color: blue;
}




/* ************************************************************* */
/* LAYOUT COMP */
/* ************************************************************* */

/* ----- Box Container ------ */

.box-container {
  overflow: hidden;
}

.box-container-box {
  width: 50%;
  float: left;
}

/* ----- Box Container ------ END */

/* ************************************************************* */
/* LAYOUT COMP end*/
/* ************************************************************* */






/* ************************************************************* */
/* Molecular */
/* ************************************************************* */

/* ----- LABELED CONTAINER ------ */

.labeled-container {}

.labeled-container-label {
  font-family: Arial;
}

.labeled-container-container {}

/* ----- LABELED CONTAINER ------ END */


/* ************************************************************* */
/* Molecular end*/
/* ************************************************************* */






/* ************************************************************* */
/* Atoms*/
/* ************************************************************* */

/* ----- SEARCH FIeld ------ */

.search-field { overflow: hidden; }
.search-field-label { width: 30%; float: left;}
.search-field-input { width: 69%; float: left; }

/* ----- SEARCH FIeld ------ END */

/* ************************************************************* */
/* Atoms end*/
/* ************************************************************* */
